* text=auto eol=lf
*.js text working-tree-encoding=UTF-8
*.html text working-tree-encoding=UTF-8
*.css text working-tree-encoding=UTF-8
*.md text working-tree-encoding=UTF-8
*.json text working-tree-encoding=UTF-8
